# Logs
logs
*.log
npm-debug.log*

# Data & Uploads
data/
uploads/

# Dependency directories
node_modules/

# Build outputs
dist/
build/

# Environment Variables
.env
.env.*.local

# System Files
.DS_Store
Thumbs.db

# IDE & Editor Files
.vscode/
.idea/
*.swp

# Miscellaneous
.eslintcache
.cache/